* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

@font-face {
  font-family: 'NellaSue'; /* Remplacez 'NomDeLaPolice' par le nom que vous voulez donner à la police */
  src: url('./fonts/NellaSueDEMO.ttf') format('truetype'); /* Assurez-vous de fournir le chemin correct du fichier de police */
  /* Ajoutez d'autres formats de police ici si nécessaire */
  font-weight: normal;
  font-style: normal;
}

/* Deuxième police */
@font-face {
  font-family: 'SilentReaction';
  src: url('./fonts/Silent Reaction.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Deuxième police */
@font-face {
  font-family: 'Caveat';
  src: url('./fonts/Caveat/Caveat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Deuxième police */
@font-face {
  font-family: 'PatrickHand';
  src: url('./fonts/PatrickHand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100dvh;
}

#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* --- Style commun pour les boutons --- */
.buttonStyle{
  padding: 1% 5%;
  margin: 4% 0;
  cursor: pointer;
}

